body {
  padding: 40px 0px;
  border-top: 4px solid #FFAC81;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-top: 0;
}
.row {
  margin: 0;
}
div.grey {
  background: #f3f3f3;
  width: 50%;
  padding: 60px 20px;
  margin: 62px auto;
  border-radius: 5px;
}
a {
  color: #F86A78;
}
a:hover {
  text-decoration: none;
  color: #559F7A;
}
input {
  font-size: 20px;
  color: #574e4e;
  padding: 10px 20px;
  width: 130px;
  border: 1px solid #f0f0f0;
  margin-top: -10px;
}
input::placeholder {
  color: #EFECEC;
}
input.error {
  border: 2px solid #F86A78;
}
h1, h3.inline {
  display: inline-block;
}
h3 {
  margin-right: 15px;
}
.error-message.hide {
  display:none;
  font-size: 14px;
  margin-top: 5px;
}
.values {
  margin-top: 20px;
}

.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.col-6 {
  padding-left: 0px;
  padding-right: 0px;
}
.preview, .preview2 {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  display: inline-block;
}
.preview2 {
  margin-right: 0px;
}

.footer {
  margin-top:30px;
  color: #B6D6C8;
}
.footer a {
  color: #B6D6C8;
}

.btn {
  background-color: #F86A78;
  border-color: #F86A78;
}
.btn:hover {
  background-color: #e86370;
  border-color: #e86370;
}
@media (max-width:500px){
  div.grey {
    width: 90%;
  }
}