body {
  margin: 0;
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
  color: #4F4E4E;
}
a {
  color: #4F4E4E !important;
}
a:hover {
  text-decoration: none;
}
button.btn-primary {
  margin-top: 20px;
  background: #F0C808;
  color: #383939;
  border-color: #a98c02;
  font-size: 20px;
  padding: 10px 15px;
}
button.btn-primary:hover {
  background: #fff;
  color: #1F5C71;
  border-color: #F0C808;
}
button.btn-secondary {
  margin-top: 20px;
  background: transparent;
  color: #1F5C71;
  border-color: #1F5C71;
}
button.btn-secondary:hover {
  background: #1F5C71;
  color: #fff;
}
h2 {
  color: #1F5C71;
}
div.hero {
  height: 750px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
div.hero::before {
  content: "";
  background: url(./img/worship.jpg);
  background-position: 50%;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 750px;
}
div.phil {
  background: url(./img/bible2.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 550px;
  -webkit-filter: grayscale(0.7);
  filter: grayscale(0.7);
}
div.phil .copy {
  color: #fff;
  text-align: center;
  padding-top: 70px;
}
div.phil .copy h1 {
  font-size: 50px;
}
/* div.phil img {
  -webkit-filter: grayscale(0.6);
  filter: grayscale(0.6);
  width: 100%;
} */
img.hero {
  width: 100%;
  opacity: 0.5;
}
div.hero-text {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  color: white;
  text-align: center;
  margin-top: 100px;
  padding: 0px 30px;
}
div.hero-text h1 {
  margin-top: 95px;
}
div.hero-text h1 {
  font-size: 40px;
}
/* div.hero-text .btn{
  margin-top: 20px;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
  color: #ffffff !important;
} */
div.panel {
  padding: 100px 60px;
  text-align: center;
}
.leadership div.panel .content {
  /* margin: 0 auto; */
  padding-left: 20px;
}

div.panel.color {
  background-color: #07A0C3;
  color: #fff;
}
div.panel.footer {
  background-color: #FFF1D0;
  color: #4F4E4E;
  margin: 0;
  min-height: 200px;
}
div.panel.nomargin {
  margin: 0;
}
div.panel.about .sidepadding {
  padding: 0 80px;
}
div.panel.whoweare {
    border-top: 1px solid #E6E8E9;
    padding: 80px 100px;
}
div.panel.whoweare img {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 7px;
}
img.category {
  height: 190px;
  border-radius: 50%;
  margin: 30px;
}
img.location {
  width: 19px;
  margin-bottom: 9px;
  margin-right: 10px;
}
img.people {
  width: 43px;
  margin-bottom: 5px;
  margin-right: 14px;
}
img.hello {
  width: 25;
  margin-right: 8px;
  margin-bottom: 2px;
}
div.footer {
  padding-top: 40px;
}
div.align-right {
  text-align: right;
}
.footer .social {
  padding-bottom: 40px;
  text-align: left;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: rgba(74,74,74,0.85); */
  /* background-color: rgba(31,92,112,0.85); */
  background-color: rgba(255,255,255,1);
  font-size: 14px;
  border-top: 4px solid #F0C808;
  z-index: 100;
  font-size: 16px;
  -webkit-box-shadow: 0px -5px 40px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -5px 40px 11px rgba(0,0,0,0.75);
  box-shadow: 0px -5px 40px 11px rgba(0,0,0,0.75);
}
.navbar a {
  /* color: #fff !important; */
  color: #2b2b2b !important;
}
.navbar-light .navbar-toggler {
  border: none;
  padding-left: 0px;
  outline: none;
}
.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
    background-image: url("./img/menu-grey.svg");
    background-size: 21px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url(./img/x-grey.svg);
  background-size: 19px;
}
.navbar-nav {
  float: right;
  text-align: right;
  margin-right: 16px;
}
.navbar-nav a.active {
  color: #07A0C3 !important;
}
body.sub .panel {
  padding: 60px 100px;
}
.beliefs .panel {
  text-align: left;
}
body.ministries .panel:not(.footer)  {
  padding: 80px 50px;
}
body.ministries .panel .title {
  margin-bottom: 30px;
}
.leadership .panel:not(.footer) {
  margin: 0;
}
.leadership .panel:not(.footer) img {
  padding-bottom: 25px;
  max-width: 200px;
  width: 100%;
}
body.sub .panel.color {
  background-color: #07A0C3;
  padding-top: 100px;
  text-align: center;
}
.panel.left, .left {
  text-align: left;
}
.panel.topborder {
  border-top: 1px solid #f0f0f0f0;
}
body.sub .panel.heading {
  padding: 100px 100px 40px;
}
.panel.alignleft {
  text-align: left;
}
.alignleft {
  text-align: left;
}
div.nofrills div {
  display: inline;
  margin-right: 10px;
}
@media screen and (max-width: 1100px) {
  div.hero, div.hero::before {
    height: 600px;
  }
  div.phil {
    height: 450px;
  }
}
@media screen and (max-width: 800px) {
  body.ministries .panel {
    padding: 40px 100px;
  }
  .sermonnet {
    width: 100% !important;
  }
  body.ministries .panel .title {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .leadership .content h2, .leadership .content h5 {
    text-align: center;
  }
  div.footer .align-right, div.footer .social {
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
    div.nofrills div {
      display: block;
      margin-right: 0px;
    }
    body.sub div.panel {
      padding: 60px 45px;
    }
    body div.panel {
      margin-left: 0;
      margin-right: 0;
    }
    body div.panel.sunday {
      padding: 100px 0px;
    }
    body.sub div.panel.nomargin {
      margin-left: 20px;
    }

    .footer .social {
      text-align: center;
    }
    div.hero-text {
      padding: 0 25px;
    }
    div.hero-text h1 {
      font-size: 30px;
    }
    div.nofrills {
      padding: 60px 90px;
    }
    div.panel.color.serves {
      padding: 65px 45px;
    }
    div.panel.whoweare {
      padding: 80px 20px;
      margin-bottom: 30px;
    }
    div.panel.whoweare h1 {
      text-align: center;
      margin-bottom: 30px;
    }
    body.sub.resources .panel {
      padding: 40px 32px;
    }
    body.ministries .panel.ministry {
      padding: 40px 20px;
      margin-left: 0;
      margin-right: 0;
    }
    body.sub.ministries .panel.color.heading {
      padding-left: 50px;
      padding-right: 50px;
    }
    body.sub.resources .panel.color.heading {
      padding-top: 100px;
    }
    div.panel.about {
      padding: 80px 40px 50px;
    }
    div.panel.about .sidepadding {
      padding: 0 20px 40px;
    }
    body.sub .panel.heading {
      padding: 100px 90px 40px;
    }
}
