.formatted {
    overflow: scroll;
    /* margin: auto; */
}
textarea, .formatted {
    width: 100%;
    height: 400px;
    text-align: left;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #FFAC81;
    margin: auto;
}
button {
    margin-top: 40px;
}
h1 {
    margin-bottom: 20px;
}
@media (max-width:500px){
    textarea, .formatted {
      width: 90%;
    }
    .intro1 {
        display: none;
    }
    .intro2 {
        font-size: 14px;
    }
  }