.hex {
    margin-bottom: 20px;
    margin-top: 40px;
}
.hex .entry {
    margin-bottom: 20px;
}
.hex.hide {
    display: none;
}
.rgb {
    margin-top: 30px;
    margin-bottom: 20px;
}
.rgb.hide {
    display: none;
}
.rgb .row {
    margin-bottom: 20px;
}
.rgb .col-lg-4 {
    margin-top: 20px;
}
.btn.hex {
    background-color: #F86A78;
    border-color: #F86A78;
  }
.btn.hex:hover {
    background-color: #e86370;
    border-color: #e86370;
}
.btn.rgb {
    background-color: #559F7A;
    border-color: #559F7A;
}
.btn.rgb:hover {
    background-color: #4d906f;
    border-color: #4d906f;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    vertical-align: middle;
    margin: -20px 10px 0px 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    display: none;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F86A78;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #559F7A;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #559F7A;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  